/* NEW: Wrapper to control scaling */
.card-grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 1rem;
  box-sizing: border-box;
  flex-grow: 1;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr);    
  gap: 1rem;
  width: 100%;
  max-width: 900px;
  justify-items: center;
}

/* Mobile View: 2 columns, 4 rows */
@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);  /* 2 columns */
    grid-template-rows: repeat(4, 1fr);     /* 4 rows */
    gap: 0.5rem;
  }
}

/* Cards scale with viewport width */
.card {
  width: 20vw; 
  height: calc(20vw * 1.39); 
  max-width: 14rem; 
  max-height: 19.5rem;
  perspective: 800px; /* Adjust perspective for scaling */
  /* transition: width 0.3s, height 0.3s;  */
}

@media (max-height: 600px) {
  .card {
    width: 17vw;
    height: calc(15vw * 1.39);
  }
}


.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.1s;
}

.card-front img,
.card-back img {
  width: 100%;       /* Fill the entire width of the card */
  height: 100%;      /* Fill the entire height of the card */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  border-radius: 10px; /* Match the card's border radius */
  display: block;    /* Remove any default spacing */
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.card-front {
  transform: rotateY(180deg);
}

.card-front:hover
{ 
  
  box-shadow: 0 0 20px #42a5f5;;
  border-radius: 10px;
} 
.card-back img {
  border-radius: 10px;
}