/* GameScreen.css */
.card-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem; /* Space between cards */
    justify-content: center; /* Center horizontally */
    margin-top: 2rem;
  }
  

  .card {
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: scale(1.05); 
  }
  

  .score-container {
    position: absolute;
    top: 50%; /* Adjust based on vertical alignment */
    right: 10px; /* Align to the right */
    transform: translateY(-50%); /* Center vertically */
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    border-radius: 8px;
    text-align: right;
    font-weight: bold;
  }
  
  .score-timer-container {
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    font-size: 1.2rem;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .timer {
    text-align: left;
  }
  
  .score {
    text-align: right;
  }

  .timer-container {
    position: absolute;
    top: 20px;
    left: 20px;
    color: red; /* Color for urgency */
    text-align: center;
  }
  
  .timer-container h2 {
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
  }
  
  .timer {
    font-size: 2rem;
    font-family: "Courier New", Courier, monospace; /* Digital clock style */
    margin-top: 5px;
  }
  
  .level-container {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    color: #fff;
  }
  
  .level-container h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .level-container p {
    margin: 5px 0 0;
    font-size: 1rem;
  }
  