html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.video-overlay-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}

.video-overlay-container video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.result-overlay {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 400px;
  max-width: 800px;

}

.result-title {
  font-size: 3rem;
  margin: 1rem 0;
  color: #fff;
}

.result-story {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin: 1rem 0;
 
}

.result-message{
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  margin: 1rem 0;
}

.result-options {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.result-button {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.result-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


@keyframes resultFadeInUp {
  0% {
    opacity: 0;

    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.result-fade-up {
  animation: resultFadeInUp 1.2s ease forwards;
}

@media (max-width: 600px) {

  /* Result Overlay */
.result-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  max-width: 80%;
}

.results-screen video {
  z-index: 10;
}
.result-title {
  font-size: 2rem;
}

.result-story {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  margin: 1rem 0;
 
}

.result-message{
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  margin: 1rem 0;
}



/* Result Buttons */
.result-options {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}


  .result-overlay {
    width: 90%;
    padding: 1rem;
  }

  .result-button {
    font-size: .8srem;
    padding: 0.5rem 1rem;
  }

  
}

